@page "/painting"

<PageTitle>CS - Painting</PageTitle>

<MudGrid Class="pa-16" Spacing="4" Justify="Justify.Center">

    @if (_imageSources.Count > 0)
    {
        @foreach(var imageSource in _imageSources)
        {
            <MudItem xs="12" md="4">
            <div style="position:relative;height:100%;width:100%;">
                    <MudImage  ObjectFit="ObjectFit.Cover" Style="height:100%;width:100%;" Src="@imageSource" Alt="Image" Elevation="3" />
            </div>
            </MudItem>
        }
    }

</MudGrid>

@code {
    private List<string> _imageSources = [];

    private string _illustrationDirectory = "./images/painting/";
    private string _illustrationDirectoryServer = "./wwwroot/images/painting/";

    public int spacing { get; set; } = 2;

    // Find all 'Illustration' images
    protected override async Task OnInitializedAsync()
    {

        // var asfd2 = Directory.GetFiles("./wwwroot/images/illustration/");

        await Task.Run(() => { 
            var files = Directory.GetFiles(_illustrationDirectoryServer).ToList();
            foreach(var imgSource in files)
            {
                _imageSources.Add(Path.GetRelativePath("./wwwroot/", imgSource));
            }
        });

    }

}

