@page "/"

<PageTitle>Ceciliarora</PageTitle>

<div class="d-flex flex-column align-center  align-content-center flex-grow-1">
    <div class="pa-16 ma-10">
        <MudText Typo="Typo.h5">Info line</MudText>
        <MudText Typo="Typo.body1">Info line 2</MudText>
        <MudText Typo="Typo.body1">Info line 3</MudText>
        <MudText Typo="Typo.body1">Info line 4</MudText>
    </div>

    <div class="pa-8 ma-10" style="background-color:  #0e2e3e; position: relative; left: 0; right: 0; bottom: 0;">
        <MudImage Class=" ma-16" Elevation="24" Src="images/painting/202110DECODE.png" ObjectPosition="ObjectPosition.Center" ObjectFit="ObjectFit.Contain" Style="width: 40%; text-align: center" />
    </div>
</div>

@code {

}
