@inherits LayoutComponentBase
@using MudBlazor.Services

<MudThemingProvider />

<div class="overflow-hidden">
    <NavMenu />

    <div class="overflow-hidden">
        @Body
    </div>

    <div class="mt-13 overflow-hidden">
        <Footer/>
    </div>
</div>
