@inherits LayoutComponentBase
@using MudBlazor.Services

<MudThemingProvider />

<div >
    <NavMenu/>

    <div class="pa-4">
        @Body
    </div>
</div>

@code {
    private bool _drawerOpen = true;

    private void DrawerToggle()
    {
        _drawerOpen = !_drawerOpen;
    }
}