@rendermode InteractiveServer

<div  style="position: relative; top: 0; right: 0; left: 0; background-color: transparent">

    <div class="px-5 d-flex justify-space-between flex-grow-1 mud-elevation-1" style="background-color: rgba(43,43, 43, 0.9); backdrop-filter: blur(40px); box-shadow: 0 4px 16px 0 rgba(0,0,0,0.5)">

        <div class="d-none d-xl-none d-md-flex flex-grow-1 pa-2 py-4 mb-3">
            <MudImage Src="images/icon/cecilia_rora_text.svg" Height="100" ObjectFit="ObjectFit.Cover" Style="user-select: none;" />
        </div>

        <div class="d-none d-xl-flex flex-grow-1 pa-4 py-6 mb-5">
            <MudImage Src="images/icon/cecilia_rora_text.svg" Height="100" ObjectFit="ObjectFit.Cover" Style="user-select: none;" />
        </div>

        <div class="d-md-none flex-grow-1 px-3 py-1">

            <div class="d-flex flex-grow-1 gap-1 align-content-center justify-content-start">
                <MudIconButton Class="flex-none d-flex  my-auto" Size="Size.Large" Icon="@Icons.Material.Rounded.Menu" @onclick="@ToggleDrawer" style="background-color: rgba(208,208, 208, 0.0); width: 68px; height: 68px; color: #a3d9f5"  />
                <MudImage Class="flex-none d-flex my-auto" Src="images/icon/lettermark_color.svg" Height="100" Style="user-select: none;" />
            </div>

            <MudDrawer @bind-Open="_drawerOpen" Style="position: relative; top: 20%; border-radius: 0px 34px 34px 0px;height: 70vh; background-color: rgba(208,208, 208, 0.6); backdrop-filter: blur(8px) ; box-shadow: 0 3px 18px 0 rgba(0,0,0,0.8);">
                <MudNavMenu Bordered="true" Style="height: 100%; color: #0e2e3e; border-color: #0e2e3e">

                    <MudNavLink Href="/">Portfolio</MudNavLink>
                    <MudNavLink Href="/illustration">Illustration</MudNavLink>
                    <MudNavLink Href="/graphicdesign">Graphic Design</MudNavLink>
                    <MudNavLink Href="/painting">Painting</MudNavLink>
                    <MudNavLink Href="/">Resume</MudNavLink>
                    <MudNavLink Href="/">Me</MudNavLink>

                </MudNavMenu>
            </MudDrawer>

        </div>

    </div>

    <div class="nav-bar d-none d-md-flex gap-1 px-6 py-2 mx-12 mud-elevation-2" >
        <NavBar />
    </div>

</div>

@code {
    bool _drawerOpen = false;

    void ToggleDrawer()
    {
        _drawerOpen = !_drawerOpen;
    }

    public void OnScroll(EventArgs e )
    {
        int asdf = 3;
    }


}

<style>
    .nav-bar {
        flex-grow: 1;
        justify-content: space-around;
        position: relative;
        top: -16px;
        border-radius: 30px;
        background-color: rgba(208,208, 208, 0.7);
        backdrop-filter: blur(8px);
        box-shadow: 0 2px 16px 0 rgba(0,0,0,0.4);
    }

</style>